<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/83230b69-be18-4871-9071-90636fc33310/resourceGroups/demorg/providers/Microsoft.ContainerRegistry/registries/acr2024demo</ResourceId>
    <ResourceName>acr2024demo</ResourceName>
    <ResourceGroup>demorg</ResourceGroup>
    <Subscription>Azure subscription 1 - PAYG</Subscription>
    <RegistryUrl>https://acr2024demo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f9b1b5c3-ac5b-4b1a-b1ae-e28ca425d7a7</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>